<div id='single' class="relative w-full overflow-hidden duration-500 ease-in-out transition-height md:h-screen">
    <div class="hidden h-full bg-center bg-no-repeat bg-cover md:block"
        style="background-image: url('{{ movie.backdrop_path}}'); filter: blur(8px); -webkit-filter: blur(8px);"></div>
    <div
        class="w-full h-full bg-gray-900 md:bg-transparent md:absolute md:top-0 md:bottom-0 md:left-0 md:right-0 md:z-10 bg-overlay">
        <div id='single-header'
            class="container grid grid-cols-1 gap-8 px-4 py-16 pt-48 mx-auto md:pt-32 md:grid-cols-2">
            <img class="w-64 m-auto md:w-auto" loading="lazy" src="{{ movie.poster_path }}" alt="{{ movie.title }}">
            <div>
                <div class="space-y-2">
                    <h1 class="text-4xl">{{ movie.title }}</h1>
                    <small class="inline-block text-lg tracking-wider text-gray-500">{{movie.tagline}}</small>
                    <div class="grid space-x-2 text-gray-400 md:flex" style="grid-template-columns: auto 1fr;">
                        <div class="w-10">
                            {{> rating rating=movie.vote_average direction='row'}}
                        </div>
                        <span class="hidden md:block">|</span>
                        <span>
                            {{ movie.release_date }}
                        </span>
                        <span class="hidden md:block">|</span>
                        <span style='grid-column: 1 / -1;'>
                            {{#each movie.genres}}
                            {{this.name}}{{#unless @last}},{{/unless}}
                            {{/each}}
                        </span>

                    </div>
                </div>


                <p class="mt-8 text-gray-300">
                    {{movie.overview}}
                </p>

                <div class="mt-8 space-y-4">
                    <h2 class="text-lg font-bold uppercase ">Trailer</h2>
                    <div class="youtube">
                        <iframe id="ytplayer" type="text/html" width="640" height="360"
                            src="https://www.youtube.com/embed/{{movie.trailer}}?autoplay=0" frameborder="0"></iframe>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>

<div class="container px-4 py-16 mx-auto">
    <h1 class="text-4xl">Cast</h1>

    <div class="grid grid-cols-1 gap-8 mt-8 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-5">
        {{#each movie.credits.cast }}
        <div class="mx-auto space-y-4">
            <a href="/actors/{{this.id}}">
                {{#if this.profile_path }}
                <img loading="lazy" class="w-64 rounded md:w-full"
                    src="https://image.tmdb.org/t/p/w500{{this.profile_path}}" alt="{{this.name}}'s profile image">
                {{else}}
                <img loading="lazy" class="rounded"
                    src="https://dummyimage.com/500x750/cbd5e0/1a202c.png&text=Profile+Image+Not+Found"
                    alt="{{this.name}}'s profile image">
                {{/if}}
            </a>
            <h2 class="text-lg">{{this.name}}</h2>
            <small class="text-gray-400 text-md">{{this.character}}</small>
        </div>
        {{/each}}
    </div>

</div>

<div class="container px-4 pb-16 mx-auto">

    <h1 class="text-4xl">Images</h1>

    <div class="grid grid-cols-1 gap-8 mt-8 sm:grid-cols-2 md:grid-cols-3">
        {{#each movie.images.backdrops }}
        <div class="space-y-4">
            <img loading="lazy" class="transition ease-in-out rounded cursor-pointer hover:opacity-75"
                src="https://image.tmdb.org/t/p/w500{{this.file_path}}" alt="{{movie.title}}'s backdrop image">
        </div>
        {{/each}}
    </div>

</div>